.comments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*margin-top: 10%;*/
    border: none;
    margin-left: 17%;
    margin-top: 5%;
}